<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password change</title>
  </head>
  <body>
    <form action="" method="POST">
      {% csrf_token %}

      <h1>Password change</h1>

      {{ form.errors }}

      <label for="new_password1">New password:</label>
      <input type="password" name="new_password1" id="new_password1" required />
      <label for="new_password2">New password confirmation:</label>
      <input type="password" name="new_password2" id="new_password2" required />
      <button type="submit">Change password</button>
    </form>
  </body>
</html>
