<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password reset</title>
  </head>
  <body>
    <form action="" method="POST">
      {% csrf_token %}

      <h1>Password reset</h1>

      {{ form.errors }} {{ form.non_field_errors }} {{ form.email.errors }}

      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required />
      <button type="submit">Reset password</button>
    </form>
  </body>
</html>
